[submodule "external/KaGen"]
	path = external/KaGen
	url = git@github.com:sebalamm/KaGen.git
[submodule "external/bakward-mpi"]
	path = external/bakward-mpi
	url = https://github.com/kamping-site/bakward-mpi
